.aside-navbar-button {
    border: none;
    margin-top: 10px;
    background-color: #4acb4a;
}
.app {
    background-color: black;
    font-size: 1rem;
}

.blurred {
    background-image: url("../../public/img/blurred.jpg");
    background-attachment: fixed;
}

body,html {
    font-family: "Black Ops One";
    height: 100%;
}

.btn.disabled {
    margin-top: 10px;
}

.card-body {
    margin-top: 10%;
}

.create-new-user-button {
    float: right;
    margin: 2% 0% 2% 0%;
}

.div-img {
    display: inline-block;
    width: 50%;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.form-control {
    font-family: 'Fredoka', sans-serif;
}

.form-page {
    font-family: "Black Ops One";
    font-size: 20px;
    color: chartreuse;
}

.form-div {
    display: block;
    width: 500px;
    padding: 30px;
}

.footer-styles {
    text-align: left;
    font-size: 3vh;
}

.gim5-img {
    width: 100%;
    height: auto;
    margin-left: -23%;
}

.gim6-img {
    width: 100%;
    margin-left: 23%;
}

h3 {
    -webkit-text-stroke: 0.3px black
}

.header-card {
    clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            0 calc(80% - 6vw));
}

.home-div {
    text-align: left;
}

.img-parallax {
    width: -webKit-fill-available;
    margin: 0% 2%;
}

.inactive-user {
    top: 50%;
    position: absolute;
    display: inline-block;
    color:#F68B1D;
}

.increasing-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 51%;
}

.join-button {
    width: 11vw;
    color: white;
}

.join-button-h3 {
    margin: 0%;
    font-size: 2vw;
}

label {
    color: #ec0926;
    -webkit-text-stroke: 0.2px black
}

.loading-spinner {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: spinner 4s linear infinite;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-nav {
    position: absolute;
    margin-top: -5vh;
    width: 5rem;
    height: auto;
    transition: all .2s ease-in-out;
}

.logo-nav:hover {
    transform: scale(1.1);
}

.main-title {
    position: absolute;
    right: 13%;
    top: 14%;
    text-align: center;
    color: white;
}

.main-title img {
    width: -webkit-fill-available;
    margin: 0% 2%;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parallax-text {
    background-color: rgba(0, 0, 0, 0.6);
    color: chartreuse;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-20%, -20%);
    margin-left: 10%;
}

.profile-image {
    vertical-align: middle;
    width: 140px;
    height: 140px;
    border: 4px solid chartreuse;
    border-radius: 50%;
    position: absolute;
    top: 12%;
}

.react-confirm-alert-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.react-confirm-alert-button-group button {
    background-color: rgba(255, 0, 0, 0.74);
}

.react-confirm-alert-button-group button:hover {

    background-image: linear-gradient(to right,
            #E7484F,
            #E7484F 16.65%,
            #F68B1D 16.65%,
            #F68B1D 33.3%,
            #FCED00 33.3%,
            #FCED00 49.95%,
            #009E4F 49.95%,
            #009E4F 66.6%,
            #00AAC3 66.6%,
            #00AAC3 83.25%,
            #732982 83.25%,
            #732982 100%,
            #E7484F 100%);
    animation: slidebg 2s linear infinite;

}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.react-confirm-alert-body {
    font-family: "Black Ops One";
}

.social-icons {
    display: inline-block;
}

.spinner-container {
    z-index: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 500px;
    top: 40%;
    left: 40%;
}

.style-navbar {
    background: #7fff0066;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table tr>td {
    font-family: 'Fredoka', sans-serif;
}

.text-slider {
    color: white;
    display: inline-block;
    width: 48%;
}

.text-slider-h2 {
    margin-left: 10%;
    color: chartreuse;
}

.transparent-div-img-title {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: -webKit-fill-available;
    height: -webKit-fill-available;
}

.user-card {
    left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 1rem;
    width: 80%;
}

.users-div {
    text-align: left;
    font-size: 2vh;
    color: chartreuse;
    vertical-align: middle;
    margin: 0% 5% 10% 5%;
}

.weightplate-div {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.welcome {
    width: 80%;
    display: inline-block;
    color: white;
}

.workout-couple {
    position: absolute;
    top: 34%;
    left: 61%;
    z-index: 1;
    width: 36%;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* login */

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff
}

.logoLogin {
    width: 80px;
    margin: auto;
}

.logoLogin img {
    margin-left: -15%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}

.logoWraper {
    justify-content: center;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    color: #555
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
}

.wrapper .form-field .fas {
    color: #555
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px
}

.wrapper .btn:hover {
    background-color: #039BE5
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4
}

.wrapper a:hover {
    color: #039BE5
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px
    }
}

/* Login button */

.login-button {
    margin-top: 10px;
    border: none;
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
  }
  
  @keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }